@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="d-flex flex-nowrap">
    <h1 class="display-4">Verifique sempre as anotações</h1>
    
    
    
</div>

<div class="d-flex justify-content-center col-md-4">
<button id="" type="submit" class="w-100 btn btn-lg btn-primary" class="btn ">Ver minhas tarefas</button>
</div>
